/* @media (main-width: 400px){
    
    .background_content h1 {
        top: 20%;
        font-size: 4rem;
        width: auto;
    }
} */

/*`sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /* .loader img{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
    } */
    .navbar{
        background: linear-gradient(to right, #000000, #400C09);
        color: black !important;
    }
    #banner{
        margin-top: 85px;
    }
    #banner img{
        width: 100%;
        height: unset;
        object-fit: cover;
    }
    #welcome-section {
        margin-top: 35px;
    }

    #welcome-section a{
        margin-bottom: 15px;
    }
    #welcome-section #text-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    #welcome-section .img-1{
        margin-bottom: 5px;
    }
    #welcome-section .img-3{
        margin-bottom: 5px;
    }
    p.desc-text{
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 25px;
    }
    .about-text h2{
        font-size: 2.5rem;
        width: auto;
    }
    #about-us img{
        width: 100%;
        height: unset;
    }
    #about-us h2 {
        font-size: 20px;
    }
    .background_content{
        height: 350px;
    }
    .background_content::before{
        height: 350px;
    }
    .background_content h3 {
        font-size: 4em;
        top: 24%;
    }
    #menu{
        margin-top: 15px;
    }
    #gallery .images{
        margin-top: 30px;
    }
    #gallery .col-md-3 {
        margin-bottom: 10px;
        padding: 5px;
    }
    .contact h2{
        margin-top: 20px;
        font-size: 30px;
    }

    /* #services .card{
        border-color: black;
    } */
    #services .card:hover {
        color: black
    }
    #clients{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    #testimonial{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0;
    }
    .test-card{
        margin-top: 85px;
    }

    .contact-text h2{
        font-size: 29px;
    }
    /* footer */
    /* .subscribe h2{
        padding: 0px 0px;
    }
    .subscribe form input {
        margin-left: -20px;
    }
    .subscribe form .btn {
        margin-left: -25px;
    } */
    .map{
        padding-right: 13px;
    }
}

/*`md` applies to small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    
    #testi .card{
        margin-bottom: 75px;
    }
}

/*`lg` applies to medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .navbar{
        background: linear-gradient(to right, #000000, #400C09);
        color: black !important;
    }
}

/*`xl` applies to large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    
}

/*`xxl` applies to x-large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {
    
}